<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <div class="container">
        <h1>Sign-Up</h1>
        <form action="/signup" method="post">
            <table>
                <tr>
                    <td>enter user-id : </td>
                    <td><input type="text" name="uname" id="uname"></td>
                </tr>
                <tr>
                    <td>enter password : </td>
                    <td><input type="password" name="upassword" id="upassword"></td>
                </tr>
                <tr>
                    <td><a href="/">Login</a></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>